.form {
    margin: 0 25px;
    .offer {
        font-weight: bold;
        color: white;
        background-color: #6055a5;
        padding: 25px 100px;
        border-radius: 10px;
        box-shadow: #00000040 0px 10px 0px;
    }
    form {
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        input {
            font-weight: 500;
        }
        button {
            color: white;
            border: none;
            background-color: #38cc8c;
            cursor: pointer;
            box-shadow: #1e7951 0px 3px;
            border-radius: 5px;
            padding: 15px;
            font-size: 15px;
        }
        button:hover, button:focus {
            background-color: #46df9c;
        }
    }
}